<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hotstar.gallery">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.hotstar.gallery.HotstarGalleryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hotstar.gallery.browse.view.BrowseActivity">
        </activity>
        <activity android:name="com.hotstar.gallery.login.view.SignInActivity" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hotstar.gallery.photodetail.view.PhotoDetailActivity" >

        </activity>
    </application>

</manifest>